@{
    ViewBag.Title = "Datenschutz";
}

<div class="container">
    <h3 class="text-center">
        Informationspflicht nach Art. 13 DSGVO bei einer Erhebung von Daten bei der betroffenen Person im Zuge der Corona-Pandemie
    </h3>
    <p class="text-center">
        Zu Ihrem Schutz und einer möglichst schnellen Nachverfolgbarkeit möglicher Infektionsketten mit dem neuartigen Covid-19-Virus
        („Corona“) sind wir verpflichtet, Ihre Anwesenheit in unserem Geschäft/Lokal zu dokumentieren. Nachfolgend möchten wir Sie über
        diese Datenverarbeitung informieren:
    </p>
    <h6><strong>1. Bezeichnung der Verarbeitungstätigkeit / Erhobene Daten</strong></h6>
    <p>
        Erhebung Besucherdaten im Zuge der Corona-Pandemie. Folgende personenbezogene Daten werden hierbei erhoben:
        <br />
        Name, E-Mail, Postleitzahl, Telephonnummer
    </p>
    <h6><strong>2. Name und Kontaktdaten des Verantwortlichen</strong></h6>
    <p>
        Name des Vereins: Musikverein Eintracht Külsheim e.V.
        <br />
        Straße: 
        <br />
        Postleitzahl Ort: 97900 Külsheim
        <br />
        Zentrale E-Mail-Adresse: 
        <br />
        Vorsitzender: Richard Spengler
    </p>
    <h6><strong>3. Kontaktdaten des Datenschutzbeauftragten</strong></h6>
    <p>
        Wir sind gesetzlich nicht verpflichtet, einen Datenschutzbeauftragten zu benennen und haben daher keinen Datenschutzbeauftragten benannt. 
        Für Fragen zum Datenschutz wenden Sie sich bitte an:
        <br />
        Kontakt-Rufnummer:
        <br />
        Kontakt-Email:
    </p>
    <h6><strong>4. Zwecke und Rechtsgrundlagen der Verarbeitung</strong></h6>
    <p>
        Zwecke
        <ul>
            <li>Schutz der Gesundheit unserer Musiker'in / Helfer</li>
            <li>Schutz der Gesundheit der Bevölkerung</li>
            <li>Eindämmung der Pandemie im Hinblick auf Nachverfolgung von Infektionsketten</li>
        </ul>
        Rechtsgrundlagen
        <ul>
            <li>gesetzliche Grundlage nach Art. 6 Abs. 1 lit. c DSGVO bzw. § 6 Abs. 1 DSG-EKD</li>
            <li>Wahrnehmung der Aufgaben des öffentlichen Interesses nach Art. 6 Abs. 1 lit. e DSGVO</li>
        </ul>
    </p>
    <h6><strong>5. Empfänger oder Kategorien von Empfängern der personenbezogenen Daten</strong></h6>
    <p>
        Die Daten verbleiben intern und werden nur auf Anfrage seiten der Gesundheitsbehörde an diese übermittelt.
        <br />
        Für Zwecke des Infektionsschutzes sehen die aktuelle geltenden Rechtsvorschriften Auskunfsverpflichtungen unsererseits gegenüber den
        zuständigen Gesundheitsbehörden vor. Werden Ihre personenbezogenen Daten von der zuständigen Gesundheitsbehörde angefordert, ist der oder die jeweilige
        Landrat / Landrätin bzw. Oberbürgermeister / Oberbürgermeisterin, für die weitere Verarbeitung Ihrer personenbezogenen Daten bei den Gesundheitsbehörden 
        verantwortlich.
    </p>
    <h6><strong>6. Übermittlung von personenbezogenen Daten an ein Drittland</strong></h6>
    <p>
        Es findet keine Übermittlung an ein Drittland statt.
    </p>
    <h6><strong>7. Dauer der Speicherung der personenbezogenen Daten</strong></h6>
    <p>
        Die erhobenen Daten werden für 14 Tage gespeichert, danach werden sie unverzüglich gelöscht.
    </p>
    <h6><strong>8. Betroffenenrechte</strong></h6>
    <p>
        Nach der Datenschutz-Grundverordnung steht Ihnen folgende Rechte zu:
        <br />
        Werden Ihre personenbezogenen Daten verarbeitet, so haben Sie das Recht auf Auskunft über die zu Ihrer Person gespeicherten DAten zu erhalten (Art. 15 DSGVO).
        <br />
        Sollten unrichtige personenbezogene DAten verarbeitet werden, steht Ihnen ein Recht auf Berichtigung zu (Art. 16 DSGVO).
        <br />
        Liegen die gesetztlichen Voraussetzungn vor, so können Sie die Löschung oder Einschränkung der Verarbeitung verlangen sowie Widerspruch gegen die Verarbeitung
        einlegen (Art. 17, 18 und 21 DSGVO). Der Anspruch auf Löschung ist aúßer KRaft gesetzt, wenn eine Rechtsvorschrift eine weitere Aufbewahrung vorsieht. Dann kann
        Ihrem Wunsch auf Löschung erst zum Ablauf der gesetzliche Aufbewahrungsfrist gesprochen werden.
        <br />
        Sollten Sie von Ihren oben genannten Rechten Gebrauch machen, prüfen wir, ob die gesetzlichen Voraussetzungen hierfür erfüllt sind.
        <br />
        Weiterhin besteht ein Beschwerderecht bei einer Aufsichtsbehörde für den Datenschutz.
    </p>
    <h6><strong>9. Pflicht zur Bereitstellung der Daten</strong></h6>
    Wenn Sie die erforderlichen Daten nicht angeben, können wir Ihnen den besuch zu unserem Konzert leider nicht gestatten.

</div>